/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
  font-family: "";
  src: url("") format("woff2"), url("") format("woff");
}

/* ******************************** */

/* Colores */

/* ******************************** */

/* Apartado del header */
header {
  height: 80px;
  background: rgb(217, 217, 217);
  border-bottom: 2px solid gray;

  display: flex;

  /* Apartado del logo */
  & .logo {
    
  }

  & nav {
    flex-grow: 1;
    background-color: red;
    padding: 0 20px;

    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
  }
}

/* Apartado de los enlaces en el nav */
a {
  text-decoration: none;
  color: black;
  font-size: 1.125rem;
}
